# ==========================================
# Variables de Entorno del Backend (/backend)
# ==========================================
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0...
GEMINI_API_KEY=tu_google_gemini_api_key #o la cualquier otra IA a la que tengas acceso, recordá que vas a tener que modificar chatController.js eliminando el import GoogleGenerativeAI, agregando el que desees e instalándolo en ../backend
CLERK_SECRET_KEY=sk_test_...

# Para el frontend (/frontend), debes crear un archivo .env con:
# VITE_CLERK_PUBLISHABLE_KEY=pk_test_...
